@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;600&display=swap');

body{
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #f1f1f1;
    min-height: 100vh;
    height: 100%;
}

:root {
    --main-bg-color: #e6e6e6;
    --dark-bg-color: #121212;
    --container-bg-color: #ffffff;

    --yellow: #F2CD5C;
    --danger: #eb1c05;
    --validation: #5bb502;

    --intervention: rgb(29, 157, 255);
    --meeting: rgb(128, 0, 128);
    --working: rgba(0, 255, 0, 0.175);
    --holiday: rgba(61, 61, 61, 0.793);

    --reservation : rgba(255, 123, 0, 0.919);

    --modal-background: rgba(0, 0, 0, 0.6);
    --modal-blur: blur(4px);

    --container-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
.toast-container{
    position: fixed;
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
    bottom: 0px;
    right: 0px;
    width: 250px;
    margin: 20px 30px;
}

.toast-alert{
    background-color: var(--dark-bg-color);
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column; 
    padding: 10px;
    color: var(--main-bg-color);
    border-radius: 5px;
}

.rejection{
    color: var(--danger);
}

.validation{
    color: var(--validation);
}

.toast-alert > *{
    margin: 0;
    font-size: 0.9rem;
}